/* WEB PAGE */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(246, 157, 252); */
    }


/* WELCOME */

.welcome {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    }

a {
    text-decoration: none;
    color: black;
    }

/* SEARCH BAR */

.search-btn {
    background-color: rgb(255, 255, 255);
    /* border: none; */
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid rgb(53, 53, 53);
    
}

.search-input {
    align-items: center;
    justify-content: center;
    padding : 6px;
    border-radius: 10px;
    border: 1px solid rgb(53, 53, 53);
    height: 20px;
    width: 10rem;

    }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    }

/* CARDS */

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    }

.catimg {
    width: 15%;
    height: 15%;
    border-radius: 10px;
    margin-top: 10px;
    }

p {
    text-align: center;
    font-size: 1.2rem;
    width: 60rem;
    }

/* LES CHATS */

.chats {
    position:absolute;
    width: 2%;
    height: auto;
    right: 5rem;
    bottom: 5rem;
}